body {
  margin: 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.header {
  display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    height: 80vh;
    margin: -30px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 90%, rgba(255, 255, 255, 1)), url("https://placehold.co/2880x1104");
    background-size: auto 100%;
    background-repeat: no-repeat;
}

/* nav styling */
#navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 15px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    width: 95%;
    margin: auto;
    background-color: RGB(100, 100, 100);
    height: 68px;
    z-index: 999;
}

#navbar img{
    position: relative;
    height: 15vh;
    right: 250px;
    bottom: 20px;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  margin: 0px 50px;
  padding: 14px 40px;
  text-decoration: none;
  font-size: 40px;
  font-weight: bold;
}

#navbar a:hover {
    background: rgb(232, 232, 232);
    color: black;
}

#navbar a.active {
  background-color: rgb(232, 232, 232) /*Green #04AA6D;*/
  color: white;
}

/* Content Styling */

.content {
	background-color: RGB(255, 255, 255);
	display: flex;
	flex-direction: column;
    text-align: center;
    padding: 10px;
    padding-top: 130px;
}

.content p {
    font-size: 30px;
}

/* Activities display styling */
/*Grid container for activities*/
#activities-container{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 400px 400px;
  /*background-color: #A9A9A9;*/
  margin: 20px;
}

/*Gid class for each activity*/
.activity-container {
  background-color: gray;
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: auto;
  margin: 10px;

}

.activity-container:hover {
  grid-template-columns: 50% 50%;
}

/*Image half of the activity container*/
.activities-image{
    background-size: 1100px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.text-background {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    transform: translateY(-100px);
}

/*Text half of the activity container*/
.activities-text{
    overflow: hidden;
    background-color: #F5F5F5;
    color: #F5F5F5;

    display: flex;
    align-items: center;
    justify-content: centre;
    flex-direction: column;

}

.activity-container:hover .activities-text  {
    color: black;
}

.learn-more-button {
    background-color: #787878;
    padding: 5px 30px 5px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px;
}

/*Standard content styling*/

.section {
    margin-top: 50px;
    background-color: rgb(200, 200, 200);
}

.content-box {
    text-align: left;
    width: 35%;
    background-color: #F5F5F5;
    position: relative;
    padding: 20px 20px 50px 20px;
}

.content-box div {
    padding: 50px;
    margin-top: 20px;
    background-color: #DCDCDC;
    left: auto
    width: 90%;

}

/* Image coroseul */

.image-carousel{
    width: 100%;
    height: 80%;
    background-image: URL("https://placehold.co/3000x1000");
    background-repeat: no-repeat;
}

/* Footer */
.footer{
	background-color: RGB(233, 233, 233);
	height: auto;
	display: grid;
	grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    padding: 50px;
}

.footer div{
    display: flex;
    align-items: center;
    justify-content: centre;
    flex-direction: column;
}

.footer p{
    margin: 3px;
}

h1 {
  font-size: 40px;
}
